<a href="https://colab.research.google.com/github/FaQ2108/FacundoMauro-Academics-Data-Projects/blob/main/IntAlMachLearn1_MauroFacundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_excel("/content/titanic_M1.xlsx")

In [13]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,2113375.0,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,1515500.0,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,1515500.0,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,1515500.0,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,1515500.0,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [16]:
data.dtypes

pclass       float64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

a) Describir brevemente la cantidad de valores faltantes para cada una de las variables de la base de datos.

In [17]:
data.isna()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1215,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1216,False,False,False,False,True,False,False,False,False,True,False,False,True,True
1217,False,False,False,False,False,False,False,False,False,False,False,True,True,True
1218,False,False,False,False,False,False,False,False,False,True,False,True,True,True

In [18]:
data.isna().sum()

pclass         76
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

b) En la columna Pclass, completar los valores NA, asignando a las personas a la clase 2.

In [33]:
data1 = data.dropna()

data1 = 2

data['pclass'] = data['pclass'].fillna(data1)

muestra_aleatoria = data["pclass"].sample(n=5)
print(muestra_aleatoria)

682     3.0
1173    3.0
390     2.0
289     1.0
1019    3.0
Name: pclass, dtype: float64

In [34]:
data.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

c) En la clase â€œSexâ€, imputar los datos de manera de poder completar la base solo con los valores â€œmaleâ€ y â€œfemaleâ€.

In [49]:
data['sex'] = data['sex'].apply(lambda x: np.random.choice(['male', 'female']) if pd.isnull(x) else x)

data2 = data[data['sex'].isin(['male', 'female'])]
muestra_aleatoria2 = data2["sex"].sample(n=5)

print(muestra_aleatoria2)

198     female
552       male
112     female
871       male
1135      male
Name: sex, dtype: object

In [50]:
data.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

d) En los casos de las personas de las cuales no se tenga la edad, rellenar los datos con el promedio de edad de aquellos que sÃ­ tienen el dato.

In [63]:
data['age'] = data['age'].fillna(data['age'].mean())

muestra_aleatoria3 = data["age"].sample(n=5)

print(muestra_aleatoria3)

751     25.000000
250     18.000000
482     17.000000
1001    30.026276
145     48.000000
Name: age, dtype: float64

In [64]:
data.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

e) En la columna embarked, asignar el valor â€œSâ€ a aquellos datos que se encuentran con valor vacÃ­o.

In [68]:
data['embarked'] = data['embarked'].fillna('S')

muestra_aleatoria4 = data["embarked"].sample(n=5)

print(muestra_aleatoria4)

999    Q
617    S
855    C
479    C
717    C
Name: embarked, dtype: object

In [69]:
data.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        0
boat          751
body         1110
home.dest     475
dtype: int64